## Import Libraries

In [1]:
import numpy as np # use numpy library to manipulate array easily
import pandas as pd # use pandas library to access csv file
import matplotlib.pyplot as plt  #use matplotlib library to easily make graph   
from matplotlib.legend_handler import HandlerBase  # use texthandler for legend plotting
from matplotlib.text import Text 
import seaborn as sns      # in order to use seaborn function count plot
from sklearn.model_selection import train_test_split # for train test split
import tensorflow as tf # for creating the NN model

sns.set_style('darkgrid')  #set the seaborn plot style to 'darkgrid'

## **Import the data**

In [2]:
data=pd.read_csv('divorce_data.csv',sep=';') 
data

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Divorce
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,0,0,0,0,0,0,0,0,0,0,...,1,0,4,1,1,4,2,2,2,0
166,0,0,0,0,0,0,0,0,0,0,...,4,1,2,2,2,2,3,2,2,0
167,1,1,0,0,0,0,0,0,0,1,...,3,0,2,0,1,1,3,0,0,0
168,0,0,0,0,0,0,0,0,0,0,...,3,3,2,2,3,2,4,3,1,0
169,0,0,0,0,0,0,0,1,0,0,...,3,4,4,0,1,3,3,3,1,0

In [3]:
data.describe()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Divorce
count,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,...,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000
mean,1.776471,1.652941,1.764706,1.482353,1.541176,0.747059,0.494118,1.452941,1.458824,1.576471,...,2.552941,2.270588,2.741176,2.382353,2.429412,2.476471,2.517647,2.241176,2.011765,0.494118
std,1.627257,1.468654,1.415444,1.504327,1.632169,0.904046,0.898698,1.546371,1.557976,1.421529,...,1.371786,1.586841,1.137348,1.511587,1.405090,1.260238,1.476537,1.505634,1.667611,0.501442
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000
50%,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000,...,3.000000,2.000000,3.000000,3.000000,2.000000,3.000000,3.000000,2.000000,2.000000,0.000000
75%,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,3.000000,3.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000
max,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000

## To seperate data and labels

In [4]:
y = data['Divorce'].copy() # Y represents output
X = data.drop('Divorce', axis=1).copy() # X represent data

## Make the graph to represent the percentage for each Question

In [5]:
def without_hue(plot, feature): # plot percentage above each patch
    total = len(feature) # get the number record of each feature
    for p in plot.patches:
        percentage = '{:.1f}%'.format(100 * p.get_height()/total) # compute percentage of each xtick label of patch
        x = p.get_x() + p.get_width() / 4
        y = p.get_y() + p.get_height()
        ax.annotate(percentage, (x, y), size = 12) # note percentage on the figure
    plt.show()

class TextHandler(HandlerBase): # text handler for legend plotting
    def create_artists(self, legend, tup ,xdescent, ydescent,
                        width, height, fontsize,trans):
        tx = Text(width/2.,height/2,tup[0], fontsize=fontsize,
                  ha="center", va="center", color=tup[1], fontweight="bold") # set parameters of text in legend
        return [tx]

# commenting out drawing the plots
# i = 0 # iterating over 54 columns and plot graphics
# for column in data.columns[:-1]: # data.columns[:-1] represents 'Q1'~ 'Q54', except last column y
#     fig = plt.figure()
#     ax = sns.countplot(x=column, data=X) # seaborn countplot
    
#     handltext = [str(elem) for elem in np.arange(5)] # ["0", "1", "2", "3", "4"]
#     labels=["Never","Seldom","Averagely","Frequently","Always"]
#     t = ax.get_xticklabels() # get X-axis labels
#     labeldic = dict(zip(handltext, labels)) # zip handled text and labels to a dictionary
#     labels = [labeldic[h.get_text()]  for h in t]
#     handles = [(h.get_text(),c.get_fc()) for h,c in zip(t,ax.patches)] # make Handltext(xticklabels) and patches into tuples 

#     ax.legend(handles, labels, handler_map={tuple : TextHandler()}) # the legend of seaborn. countplot 
    
#     without_hue(ax, data[column]) # pass the graph and each column from the dataset
#     # fig.savefig('ML_divorce_rate_dataset_plot'+ str(i)+'.jpg') 
#     # save figure plotted to a determined local directory
    
#     i += 1

## Split the dataset
Split the dataset into train (70%), test (15%) and cross validation (15%) sets

In [6]:
X_train, X_2, y_train, y_2 = train_test_split(X, y, test_size=0.3)
X_test, X_cv, y_test, y_cv = train_test_split(X_2, y_2, test_size=0.5)

# print the dataset sizes
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)
print(X_cv.shape, y_cv.shape)

(119, 54) (119,)
(25, 54) (25,)
(26, 54) (26,)

## Creating the Neural Network model using Tensorflow

In [7]:
model = tf.keras.models.Sequential([
    tf.keras.layers.InputLayer(input_shape=(54,)), # 54 input features
    tf.keras.layers.Dense(128, activation='relu'), # hidden layer with 128 hidden units
    
#     tf.keras.layers.Dropout(0.2), # regularization. Do later
    
    tf.keras.layers.Dense(1) # output layer has 1 unit because this is binary classification 
])

model.summary() # display a summary of the model

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               7040
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 129
=================================================================
Total params: 7,169
Trainable params: 7,169
Non-trainable params: 0
_________________________________________________________________

Loss function and optimizer settings

In [8]:
loss_fn = tf.keras.losses.BinaryCrossentropy(from_logits=True)

model.compile(optimizer='adam',
              loss=loss_fn,
              metrics=['accuracy'])

## Fit the parameters to the model

In [9]:
model.fit(X_train, y_train, epochs=5)

Epoch 1/5
4/4 [==============================] - 1s 6ms/step - loss: 1.8280 - accuracy: 0.4706
Epoch 2/5
4/4 [==============================] - 0s 5ms/step - loss: 0.4274 - accuracy: 0.7983
Epoch 3/5
4/4 [==============================] - 0s 5ms/step - loss: 0.2609 - accuracy: 0.9916
Epoch 4/5
4/4 [==============================] - 0s 0s/step - loss: 0.2461 - accuracy: 0.9916
Epoch 5/5
4/4 [==============================] - 0s 5ms/step - loss: 0.2140 - accuracy: 0.9916